name: ubuntu-22.04

on:
  push:
    paths-ignore:
      - images/*.cmd
      - README.md
      - LICENSE

jobs:
  ubuntu-2204:
    uses: ./.github/workflows/.ubuntu.yml
    with:
      ubuntu-version: 22.04
      arm64: false
      minimal: false
      slim: false
      instance: m6id.xlarge:ubuntu-24.04-minimal
